@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
    --container-width: 1270px;
    --container-padding: 15px;
    --secondary: rgba(15, 31, 28, 0.5);
    --orange: #FF7C4E;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #0F1F1C;
    background-color: #E5E5E5;
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}

.container__right {
    padding-left: calc( (100% - 1270px)/2 + 15px );
}

.none {
    display: none;
}

/* Header */

.header {
    position: relative;
    min-height: 940px;
    color: #fff;
    background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
    overflow: hidden;
}

.header a {
    color: inherit;
}

.header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px;

    background-image: url(../img/header-bottom.svg);
    background-size: 100%;

}

/* Header Top */

.header__top {
    padding-top: 44px;
    margin-bottom: 86px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px;
}

.logo {
	font-size: 20px;
	color: #fff;
	font-weight: 700;
}

.logo a {
	color: inherit !important;
}

.logo--footer {
    color: var(--orange);
}
.nav__list {
    display: flex;
    column-gap: 80px;
}

.nav__list a {
    position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 10px;
    bottom: -6px;

    display: block;
    height: 4px;

    background: #C4C4C4;
    border-radius: 100px;

}

.nav__list.nav__list-footer a.active::after,
.nav__list.nav__list-footer a:hover::after{
    display: none;
}

.nav__list.nav__list-footer a:hover{
    color: #FF7C4E;
}

.nav__list__footer a {
    color: #0F1F1C;
    opacity: 0.5;
}

.nav__login {
    display: flex;
    align-items: center;
    column-gap: 25px;

    font-weight: 500;
    font-size: 15px;
}

.nav__login-footer {
    column-gap: 66px;
}

.nav__btn {
    display: block;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    border-radius: 100px;
    font-weight: 500;
    font-size: 15px;

    padding: 13px 44px;
}

.nav__btn:hover {
    background: linear-gradient(129.54deg, #DB653B 15.57%, #FF584E 95.03%), #FFFFFF;
    transition: color 0.5s linear;
}

.nav__btn:active {
    background: linear-gradient(129.54deg, #CB5D37 15.57%, #D74238 95.03%), #FFFFFF;
    transition: color 0.5s linear;
}

.nav__toogle {
    display: none;
}

/* Header__row */

.header__row{
    display: flex;

}
.header__img {
    position: relative;
    flex-grow: 1;
}

.header__img img {
    position: absolute;
    top: -181px;
    right: -75px;
    width: 894px;
    height: 940px;
    pointer-events: none;
}

.header__img::before {
    position: absolute;
    content: "";
    width: 817px;
    height: 629px;

    top: -17px;
    right: -58px;
    pointer-events: none;

    background-image: url(../img/header/header__elements.svg);
}

/* Header Content */

.header__content {
    max-width: 592px;
    position: relative;
    z-index: 1;
}

.header__badge {
    display: inline-block;
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 18px;

    background: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    padding: 12px 30px;
}
.header__title {
    font-weight: 400;
    font-size: 55px;
    margin-bottom: 30px;
}
.header__text {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    opacity: 0.5;
    margin-bottom: 68px;
}
.header__btn {
    display: inline-block;
    font-weight: 600;
    font-size: 25px;
    color: #FEFEFE;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
    padding: 27px 48px;
}

.header__btn:hover {
    background: linear-gradient(129.54deg, #DB653B 15.57%, #FF584E 95.03%), #FFFFFF;
    transition: color 0.5s linear;
}

.header__btn:active {
    background: linear-gradient(129.54deg, #CB5D37 15.57%, #D74238 95.03%), #FFFFFF;
    transition: color 0.5s linear;
}

/* MAIN */

/* Destinations */

.destinations {
    padding: 96px 0 100px;
    overflow-x: hidden;
}

.destinations__row {
    display: flex;
    column-gap: 50px;
}
.destinations__content {
    max-width: 456px;
}

.destinations__title {
    font-weight: 600;
    font-size: 55px;
    color: #0F1F1C;
    margin-bottom: 15px;
}

.destinations__title span {
    font-weight: 600;
    font-size: 30px;
    color: #0F1F1C;
}
.destinations__text {
    font-weight: 500;
    font-size: 25px;
    color: var(--secondary);
    margin-bottom: 60px;
}

/* Slider */

.destinations__slider {
	width: 1110px;
	flex-shrink: 0;
}

/* Slider */

.owl-item {
	display: flex;
	justify-content: center;
}

.slider {
	position: relative;
	height: 456px;
}

.slider__item {

	margin-top: 27px;

	width: 335px;
	height: 402px;
	object-fit: cover;
	border-radius: 35px;

	transition: 0.2s ease-in;
}

.slider .center .slider__item {
	margin-top: 0;
	width: 380px;
	height: 456px;
}

.slider__btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 9;

	display: block;
	width: 68px;
	height: 68px;
	border-radius: 50%;

	display: flex;
	align-items: center;

	background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #8b8b8b;
}

.slider__btn--prev {
	left: -27px;
	padding-left: 26px;
	justify-content: flex-start;
}

.slider__btn--next {
	right: -27px;
	padding-right: 26px;
	justify-content: flex-end;
}

/* Customers */

.customers {
	padding: 100px 0 133px;
}

.customers__row {
	display: flex;
	column-gap: 68px;
}

.customers__img {
	max-width: 478px;
}

.customers__img img {
    max-height: 537px;
	border-radius: 60px;
}

.customers__content {
    max-width: 565px;
}

.customers__title {
	margin-bottom: 35px;
	font-size: 45px;
	font-weight: 500;
    line-height: 68px;
}

/* Review */

.review {
	max-width: 490px;
}

.review__client {
	display: flex;
	align-items: center;
	column-gap: 33px;
	margin-bottom: 60px;
}

.review__client-avatar {
	overflow: hidden;
	width: 134px;
	height: 134px;
	border-radius: 50%;
	background-color: #ff794e;
}

.review__client-desc-name {
	margin-bottom: 10px;
	font-size: 33px;
	font-weight: 500;
}
.review__client-desc-country {
	font-size: 25px;
	color: var(--secondary);
}

.review__text {
	margin-bottom: 30px;
	color: var(--secondary);
	font-size: 22px;
	font-weight: 500;
    line-height: 33px;
}

/* CTA */

.cta {
    padding: 100px 0;
}

.cta__wrapper {
    position: relative;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	min-height: 580px;
	padding: 40px 15px;

	background-color: #fff;
	border-radius: 60px;
}

.cta__title {
    font-weight: 500;
    font-size: 45px;
    line-height: 68px;
    text-align: center;

    color: #0F1F1C;
    margin-bottom: 30px;
}

.cta__text {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: var(--secondary);
    margin-bottom: 60px;
    text-align: center;
}

.cta__wrapper::before,
.cta__wrapper::after {
    position: absolute;
    content: "";
    width: 63px;
    height: 83px;
}

.cta__wrapper::before {
    left: 74px;
    bottom: 56px;
    background-image: url(../img/cta/cta-el-01.svg);

}

.cta__wrapper::after {
    top: 74px;
    right: 80px;
    background-image: url(../img/cta/cta-el-02.svg);
}

/* Subscribe */

.subscribe {
    padding: 35px 50px;

}

.subscribe__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

}
.subscribe__title {
    margin-bottom: 60px;
    max-width: 494px;
    font-size: 55px;
    font-weight: 600;
    line-height: 82px;
}
.subscribe-form {
    padding: 12px 15px 12px 46px;
    border-radius: 35px;
    background-color: #fff;

    display: flex;
    column-gap: 110px;
}

.subscribe-form__input {
    font-size: 24px;
    font-weight: 500;
}

.subscribe-form__input::placeholder {
    color: var(--secondary);
}

.subscribe__form-btn  {
    display: inline-block;
    padding: 34px 87px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
    font-weight: 600;
    font-size: 20px;
    color: #FEFEFE;
}

.subscribe__form-btn :hover {
    background: linear-gradient(129.54deg, #DB653B 15.57%, #FF584E 95.03%), #FFFFFF;
    transition: color 0.5s linear;
}

.subscribe__form-btn :active {
    background: linear-gradient(129.54deg, #CB5D37 15.57%, #D74238 95.03%), #FFFFFF;
    transition: color 0.5s linear;
}


/* Footer */

.footer {
    padding: 56px 0 74px;
}

.footer a {
    color: var(--secondary)
}

/* Buttons */

.btn {
	display: inline-block;
	padding: 25px 45px;
    color: #fff !important;

	background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
	border-radius: 27px;

	font-size: 20px;
	font-weight: 600;
}

.btn:hover {
    background: linear-gradient(129.54deg, #DB653B 15.57%, #FF584E 95.03%), #FFFFFF;
    transition: color 0.5s linear;
}

.btn:active {
    background: linear-gradient(129.54deg, #CB5D37 15.57%, #D74238 95.03%), #FFFFFF;
    transition: color 0.5s linear;
}

.btn--login {
    padding: 13px 44px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 100px;
}

.btn--header {
    padding: 27px 48px;
    font-size: 25px;
}

.btn--subscribe {
	padding: 36px 86px;
	font-size: 25px;
	border-radius: 35px;
}

/* Menu-icon*/

.menu-icon-wrapper {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .menu-icon {
      position: relative;
      width: 30px;
      height: 3px;
      background-color: #fff;
    }

    .menu-icon::before {
      position: absolute;
      left: 0;
      top: -10px;
      content: '';
      width: 30px;
      height: 3px;
      background-color: #fff;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

    }

    .menu-icon::after {
      position: absolute;
      left: 0;
      top: 10px;
      content: '';
      width: 30px;
      height: 3px;
      background-color: #fff;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

    }

    .menu-icon.menu-icon-active {
      background-color: transparent;
    }

    .menu-icon.menu-icon-active::before {
      transform: rotate(45deg);
      top: 0;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }

    .menu-icon.menu-icon-active::after {
      transform: rotate(-45deg);
      top: 0;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }




/* Media */

@media (max-width: 1269px){
    .container__right {
        padding-left: 15px;
    }

}

@media (max-width: 1200px) {
    .destinations__row {
        flex-direction: column;
    }



}

@media (max-width: 1000px){
    .nav__list--header,
    .nav__login--header{
        display: none;
    }

    .nav {
        column-gap: 40px;
    }

    .nav__toogle {
        display: block;
    }

    .nav__mobile {
        position: fixed;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;

        z-index: 99;
    }

    .nav__mobile .nav__list {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        font-size: 24px;
    }

    .nav__mobile .nav__login {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        font-size: 24px;
    }

    .nav__mobile .nav__toogle {
        position: fixed;
        top: 30px;
        right: 25px;
    }

    .nav__mobile .logo {
        font-size: 33px;
    }

    .nav__mobile .nav__list a.active::after,
    .nav__mobile .nav__list a:hover::after{
        display: none;
    }

    .no__sckroll {
        overflow-y: hidden;
    }

    .header__img img {
        right: -256px;
    }

    .header__img::before {
        right: -164px;

    }

    .destinations__slider {
		width: 600px;
	}

	.slider {
		height: 304px;
	}

	.slider .slider__item {
		margin-top: 18px;
		width: 223px;
		height: 268px;
	}

	.slider .center .slider__item {
		margin-top: 0;
		width: 253px;
		height: 304px;
	}




}

@media (max-width: 850px) {

    .header {
        min-height: unset;
    }

    .header__top {
        padding-top: 20px;
        margin-bottom: 40px;
    }
    .header__row {
        flex-direction: column;
    }

    .header__img img {
        position: static;
        width: 75%;
        height: auto;

    }

    .header__img::before {
        top: 100px;
        right: 0;
    }

    .header__title {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .header__text {
        margin-bottom: 25px;
    }

    .header__badge {
        font-size: 18px;
        border-radius: 10px;
        padding: 9px 21px;
    }

    .destinations__slider {
		width: 100%;
	}

	.slider__btn--prev {
		left: -15px;
	}
	.slider__btn--next {
		right: -15px;
	}


    .destinations {
		padding: 40px 0 50px;
	}

	.destinations__row {
		flex-direction: column;
		row-gap: 30px;
	}

	.destinations__title {
		margin-bottom: 10px;
		font-size: 35px;
	}

	.destinations__title span {
		font-size: 20px;
		display: block;
	}

	.destinations__text {
		margin-bottom: 30px;
		font-size: 20px;
	}

    .header__btn {
        padding: 14px 48px;
    }

    .customers__row {
        flex-direction: column-reverse;
        row-gap: 30px;
    }

    .customers {
        padding: 50px 0;
    }

    .customers__title {
        margin-bottom: 10px;
        font-size: 32px;
        line-height: 43px;

    }

    .review__client {
        column-gap: 20px;
        margin-bottom: 30px;
    }

    .review__client-avatar{
        width: 80px;
        height: 80px;
    }

    .review__client-desc-name {
        margin-bottom: 5px;
        font-size: 29px;

    }

    .review__client-desc-country {
        font-size: 21px;
    }

    .customers__img img {
        max-height: 395px;
        border-radius: 23px;
    }

    .cta__wrapper {
        min-height: 380px;
    }

    .cta__wrapper::after,
    .cta__wrapper::before {
        display: none;
    }

    .cta__title {
        font-size: 36px;
        margin-bottom: 15px
    }

    .cta__text {
        font-size: 26px;
        margin-bottom: 40px;

    }

    .btn {
        padding: 17px 46px;
        border-radius: 12px;
    }

    .subscribe {
		padding: 60px 0 0px;
	}


	.subscribe__title {
		margin-bottom: 30px;
		font-size: 35px;
        line-height: 43px;
	}

	.subscribe-form {
		padding: 10px 10px 10px 20px;
		border-radius: 25px;
		column-gap: 10px;
	}

	.subscribe-form__input {
		font-size: 20px;
	}

    .nav__login-footer {
        display: none;
    }


}


@media (max-width: 650px) {
    .nav__footer {
        flex-direction: column-reverse;
        row-gap: 30px;
    }

    .destinations__content {
        margin-bottom: 30px;
    }

    .nav__list-footer{
        flex-direction: column;
        row-gap: 20px;
        text-align: center;
    }

    .cta {
        padding: 0;
    }
}

@media (max-width: 480px) {
    .subscribe-form {
        flex-direction: column;
        padding: 10px;
        row-gap: 10px;

	}

	.subscribe-form__input {
        padding: 10px 0;
        text-align: center;
        background-color: #f0f0f0;
		border-radius: 20px;
		font-size: 18px;

}
}